{% extends "CleDiscountCatalogueBundle:Contact:layoutContact.html.twig" %}

{% block title %}
    {{ parent()}} - Contact
{% endblock %}
    
{% block content_contact %}
  <div class="container">
    <div class="sixteen columns">
      <div class="breadcrumbs">
          <p><span class="bread-home"><a href="{{ path('cle_accueil_index') }}">Accueil</a></span>Contact</p>
      </div>
    </div>
  </div>
    
  <div class="container">
    <div class="sixteen columns">
      <div class="map img-border-2 ident-bot-3">
        <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?oe=utf-8&amp;client=firefox-a&amp;q=17+rue+Jean+Jaur%C3%A8s+Villeurbanne&amp;ie=UTF8&amp;hq=&amp;hnear=17+Rue+Jean+Jaur%C3%A8s,+69100+Villeurbanne,+Rh%C3%B4ne,+Rh%C3%B4ne-Alpes&amp;gl=fr&amp;t=m&amp;ll=45.756715,4.879432&amp;spn=0.008983,0.012875&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
      </div>
    </div>
    <div class="five columns">
      <div class="block-ident-1">
        <h4 class="headline">Nous trouver</h4>
        <dl>
          <dt class="ident-bot-2"><strong>17, rue Jean Jaurès <br>
            69100 Villeurbanne ‎ </strong></dt>
          <dd><span>04 37 664 704</span>Contact commercial :</dd>
          <dd><span>04 37 708 662</span>Bureau :</dd>
          <dd>E-mail: <a href="#" class="link-1">mail@owltemplates.com</a></dd>
        </dl>
      </div>
    </div>
    <div class="eleven columns">
      <h4 class="headline">Nous contacter</h4>
      <!-- contact form -->
      <div id="confirm">
        <form id="form1">
          <div class="success"> Votre formulaire a bien été transmis. Nous vous répondrons dans les plus brefs délais.</div>
          <fieldset>
          <label class="name">
          <input type="text" value="Nom:">
          <span class="error">*Ce nom n'est pas valide.</span> <span class="empty">*Entrez un nom.</span> </label>
          <label class="email">
          <input type="email" value="Email:">
          <span class="error">*Cette adresse mail n'est pas valide.</span> <span class="empty">*Entrez une adresse mail.</span> </label>
          <label class="phone">
          <input type="tel" value="Téléphone:">
          <span class="error">*Ce numéro n'est pas valide.</span> <span class="empty">*Entrez un numéro de téléphone.</span> </label>
          <label class="message">
          <textarea>Message:</textarea>
          <span class="error">*Ce message est trop court.</span> <span class="empty">*Entrez un message.</span> </label>
          <div class="clear"></div>
          <div class="btns">
              <a href="#" class="button button-border medium yellow" data-type="submit">Envoyer</a></div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
    
{% endblock %}