{% extends "CleDiscountCatalogueBundle:Contact:layoutContact.html.twig" %}

{% block title %}
    {{ parent()}} - Recrutement
{% endblock %}
    
{% block content_contact %}
  <div class="container">
    <div class="sixteen columns">
      <div class="breadcrumbs">
          <p><span class="bread-home"><a href="{{ path('cle_accueil_index') }}">Accueil</a>Recrutement</p>
      </div>
    </div>
  </div>

    
{% endblock %}