{% extends "CleDiscountCatalogueBundle:Accueil:layoutAccueil.html.twig" %}

{% block title %}
    {{ parent()}} - Concept Discount
{% endblock %}
    
{% block content_accueil %}
  <div class="container">
    <div class="sixteen columns">
      <div class="breadcrumbs">
        <p><span class="bread-home"><a href="{{ path('cle_accueil_index') }}">Accueil</a></span>Concept Discount</p>
      </div>
    </div>
  </div>
    
    <div class="container">
        <div class="fleft">
            <div class="eight columns">
                <h4 class="headline3">Le concept Discount, un concept commercial.</h4>
                <h4 class="sub-title">Le Concept Discount en 3 points :</h4>
                <div class="separator"></div>
                {#
                <div class="check_list">
                    <ul>
                        <li>Un service logistique exceptionnel</li>
                        <li>Un service expédition qui s’agrandit pour vous</li>
                        <li>Un service de sourcing très rapide</li>
                    </ul>
                </div>
                #}
                <ul class="big-point-list">
                    <li> <span class="dropcap-big shade1">1</span>
                        <h4 class="sub-title">Un service logistique exceptionnel</h4>
                    </li>
                    <li> <span class="dropcap-big shade2">2</span>
                        <h4 class="sub-title">Un service expédition qui s’agrandit pour vous</h4>
                    </li>
                    <li> <span class="dropcap-big shade3">3</span>
                        <h4 class="sub-title">Un service de sourcing très rapide</h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fright">
            <div class="eight columns">
                 <div class="middle"><img src="{{ asset('bundles/clediscountcatalogue/images/concept-discount.gif') }}" alt="Le Concept Discount"></div>
            </div>
        </div>
                
        <div class="sixteen columns">
            <div class="separator"></div>
            <h4 class="sub-title">La Clé Discount, qu'est-ce que c'est ?</h4>
            <p>
                La Clé Discount est un site internet de vente en ligne dédié initialement aux particuliers avec plus de 2000 références produits.<br/>
                Depuis 2012, les collaborateurs de la Clé Discount se sont efforcés d’aller plus loin dans le concept Discount.<br/>
                Plus qu’un simple site de mise à disposition d’informations ou de vente, La Clé Discount propose au niveau national un service d’installation par un réseau d’artisan agréé et qualifié.<br/>
                Vous l’avez compris, le site de la Clé Discount est la référence en matière de bâtiment.<br>
                La Clé Discount est essentiellement spécialisée dans les ventes en gros mais, à la volonté du gérant, cela reste accessible à tous les internautes.
            </p>
            <div class="separator"></div>
            <h4 class="sub-title">Le Concept Discount en détail :</h4>
            <p>
                Nous allons vous donner des réponses aux questions qui reviennent souvent : 
            </p>
            <dl class="faq_list">
                <dt><span class="marker">Q?</span>Comment et pourquoi expliquez vous que les produits soient si peu chers ?</dt>
                <dd> <span class="marker">R.</span>
                    <p>
                        Le gérant s’exprime : "Pour avoir des produits si peu chers il suffit de limiter les intermédiaires entre des produits sortis d’usine jusqu’à votre achat final. Là est notre succès de réussite."<br/>
                        Vous l’avez compris la Clé Discount fait en sorte de diminuer les intermédiaires tels que les importateurs, le grossiste, le distributeur, le quincaillier, l’artisan, etc. Vous avez donc les prix sortis d’usines.<br/>
                        Nos prix bas s’expliquent par la mise en place de solutions adaptables.
                    </p>
                </dd>
            </dl>
            <div class="check_list">
                <ul>
                    <li>Côté particulier : </li>
                </ul>
            </div>
            <p>
                Le concept du Discount est une volonté des gérants et de leur équipe mais intervient aussi pour les consommateurs qui sont en quête permanente du meilleur prix.<br/>
                En effet, en période de crise il est nécessaire d’avoir un droit à l’information, le droit de choisir et de maîtriser ses achats.
            </p>
            <div class="check_list">
                <ul>
                    <li>Côté professionnel : </li>
                </ul>
            </div>
            <p>
                La rubrique professionnelle du site s’adresse aux professionnels qui veulent commander en grosse quantité.<br/>
                Nos clients professionnels revendront nos produits à travers le web mais aussi dans leur magasin, voir a l’export.<br/>
                L’achat de nos produits en gros pourra s’effectuer uniquement après l’ouverture et l’enregistrement de votre compte professionnel.<br/>
                Clients pro, nous vous proposons multiples produits tout au long de l’année mais aussi des produits avec des ventes flash (listing de produits par mail toutes les semaines).<br/>
                Côté professionnel vous ferez de réels bénéfices avec nous car nos produits sortent directement d’usines.
            </p>
            <div class="separator"></div>
            <h4 class="sub-title">En résumé :</h4>
            <p>
                La recette de la Clé Discount est le résultat de prix tirés vers le bas, de nouveaux arrivages fréquents, d’un site internet clair, d’une offre diversifiée et d’une relance par courriel pour informer et fidéliser nos clients sur les offres en cours, des ventes flash à prix sacrifiés…<br/>
                Notre service logistique permet d’avoir des livraisons très rapides et permet surtout de faire livrer vos propres clients avec un étiquetage à votre nom.
            </p>
        </div>
    </div>
    
{% endblock %}