{% extends "CleDiscountCatalogueBundle:Accueil:layoutAccueil.html.twig" %}

{% block title %}
    {{ parent()}} - Société
{% endblock %}
    
{% block content_accueil %}
  <div class="container">
    <div class="sixteen columns">
      <div class="breadcrumbs">
        <p><span class="bread-home"><a href="{{ path('cle_accueil_index') }}">Accueil</a></span>Notre société</p>
      </div>
    </div>
  </div>
    
    <div class="container">
        <div class="sixteen columns">
            <h4 class="headline3">Bienvenue sur le site de la Clé Discount</h4>
            <img alt="" src="{{ asset('bundles/clediscountcatalogue/images/societe.jpg') }}" class="image-border">
            <h4 class="sub-title">Les Origines</h4>
            <p>
                Le site de la Clé Discount a été conçu à l’origine pour proposer à nos clients des produits de qualité à prix discount (voir notre rubrique sur le <a href="{{ path('cle_accueil_concept') }}">concept discount</a>), en se spécialisant dans la quincaillerie de bâtiment. <br/>
                En effet, le gérant de la Clé Discount est un serrurier agréé dans le Rhône qui a rapidement pris conscience de la nécessité de mettre à disposition des informations sur les produits de quincaillerie pour le consommateur particulier, ainsi que d'offrir une transparence sur les prix de serrures.<br/>
                Plusieurs raisons ont poussé cet entrepreneur à se spécialiser dans le discount, notamment les tarifs excessifs de certaines sociétés de dépannage.<br/>
                De plus, la forte demande sur la région lyonnaise et la potentialité de ce marché au niveau national a séduit le frère de l’entrepreneur qui est diplômé d’une école supérieure de gestion en marketing.
            </p>
            <h4 class="sub-title">La Société</h4>
            <p>
                L’union de ces deux profils complémentaires et d’un énorme travail de sourcing au quotidien ont su trouver la confiance de nombreux professionnels tels que des grandes et moyennes surfaces, des magasins de bricolage, des promoteurs, des architectes en bâtiment et bien d’autres.<br/>
                Ainsi, d’une simple volonté de présenter des produits discount aux consommateurs lyonnais, la Clé Discount devient un site national de référence pour des assistances, des experts et gestionnaires d’habitation.  Rien ne vous est caché : prix, qualité du produit, etc.<br/>
                La partie réservée aux professionnels est dédiée à des clients récurrents spécialisés dans l’achat et revente de marchandises.<br/>
                Notre développement a conduit a une spécialisation dans le secteur de l’objet publicitaire, déstockage de produits, le led et les luminaires, et bien d’autres encore (nous consulter).<br/>
                Le succès de la e-Quincaillerie s’est rapidement transformé en un succès discount plus généralisé.<br/>
                Les équipes de la Clé Discount s’efforcent en permanence de vous trouver des produits à des prix compétitifs dans les meilleurs délais, et travaillent au quotidien pour répondre à toutes vos demandes les plus exigeantes (sponsoring d’un événement de dernière minute, livraison de certains produits hors Union Européenne, marquage de vos produits en un temps record, etc.)<br/>
                Le cogérant cite : le discount est le résultat de la maitrise de connexions internationales de sociétés qui fabriquent et de sociétés qui distribuent les marques de nos produits.
            </p>
            <p>
                La Clé Discount est une marque déposée dans la chambre des commerces de Réseau Assistance.
            </p>
        </div>
    </div>
    
{% endblock %}