{% extends "CleDiscountCatalogueBundle:Accueil:layoutAccueil.html.twig" %}

{% block title %}
    {{ parent()}} - Société
{% endblock %}
    
{% block content_accueil %}
  <div class="container">
    <div class="sixteen columns">
      <div class="breadcrumbs">
        <p><span class="bread-home"><a href="{{ path('cle_accueil_index') }}">Accueil</a></span>Notre société</p>
      </div>
    </div>
  </div>
    
{% endblock %}