{% extends "CleDiscountCatalogueBundle:Catalogue:layoutCatalogue.html.twig" %}

{% block title %}
    {{ parent()}} - Cylindres - Barillets
{% endblock %}
    
{% block content_catalogue %}
  <div class="container">
    <div class="sixteen columns">
      <div class="breadcrumbs">
          <p><span class="bread-home"><a href="{{ path('cle_accueil_index') }}">Accueil</a></span><a href="{{ path('cle_catalogue_catalogue') }}">Catalogue</a><a href="{{ path('cle_catalogue_quincaillerie') }}">Quincaillerie</a>Cylindres - Barillets</p>
      </div>
    </div>
  </div>
    
    <div class="container">
        <div class="sixteen columns">
            <h4 class="headline">Test tabs</h4>
                <ul class="tabs-nav">
                  <li class="active"><a href="#tab1"><i class="icon-bookmark"></i>Abus</a></li>
                  <li><a href="#tab2"><i class="icon-share"></i>Bricard</a></li>
                  <li><a href="#tab3"><i class="icon-check"></i>Debeaurin</a></li>
                  <li><a href="#tab4">Deny</a></li>
                  <li><a href="#tab5">Dom</a></li>
                  <li><a href="#tab6">Fichet</a></li>
                  <li><a href="#tab7">Thirard</a></li>
                  <li><a href="#tab8">Heracles</a></li>
                </ul>
                <div class="tabs-container">
                  <div id="tab1" class="tab-content"> Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat massa quis enim. Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. malesuada tortor, nec scelerisque lorem. Donec pe justo fringilla vel, aliquet nec vulputate eget, arcu enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felisa penelore mollis pretium.</div>
                  <div id="tab2" class="tab-content"> Lorem ipsum pharetra felis. Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                  <div id="tab3" class="tab-content"> Nulla consequat massa quis enim. Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. malesuada tortor, nec scelerisque lorem. Donec pe justo fringilla vel, aliquet nec vulputate eget, arcu enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felisa penelore mollis pretium. </div>
                  <div id="tab4" class="tab-content"> Lorem ipsum pharetra felis. Nulla consequat massa quis enim. Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. malesuada tortor, nec scelerisque lorem. Donec pe justo fringilla vel, aliquet nec vulputate eget, arcu enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felisa penelore mollis pretium. </div>
                  <div id="tab5" class="tab-content"> Lorem ipsum pharetra felis. Nulla consequat massa quis enim. Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. malesuada tortor, nec scelerisque lorem. Donec pe justo fringilla vel, aliquet nec vulputate eget, arcu enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felisa penelore mollis pretium. </div>
                  <div id="tab6" class="tab-content"> Lorem ipsum pharetra felis. Nulla consequat massa quis enim. Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. malesuada tortor, nec scelerisque lorem. Donec pe justo fringilla vel, aliquet nec vulputate eget, arcu enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felisa penelore mollis pretium. </div>
                  <div id="tab7" class="tab-content"> Lorem ipsum pharetra felis. Nulla consequat massa quis enim. Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. malesuada tortor, nec scelerisque lorem. Donec pe justo fringilla vel, aliquet nec vulputate eget, arcu enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felisa penelore mollis pretium. </div>
                  <div id="tab8" class="tab-content"> Lorem ipsum pharetra felis. Nulla consequat massa quis enim. Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. malesuada tortor, nec scelerisque lorem. Donec pe justo fringilla vel, aliquet nec vulputate eget, arcu enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felisa penelore mollis pretium. </div>
                </div>
        </div>
    </div>
    
{% endblock %}