{% extends "CleDiscountCatalogueBundle:Catalogue:layoutCatalogue.html.twig" %}

{% block title %}
    {{ parent()}} - Gamme Insectes
{% endblock %}
    
{% block content_catalogue %}
    
  <div class="container">
    <div class="sixteen columns">
      <div class="breadcrumbs">
          <p><span class="bread-home"><a href="{{ path('cle_accueil_index') }}">Accueil</a></span><a href="{{ path('cle_catalogue_catalogue') }}">Catalogue</a><a href="{{ path('cle_catalogue_produitshygiene') }}">Produits d'Hygiène</a>Gamme Insectes</p>
      </div>
    </div>
  </div>
    
{% endblock %}